*
{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #63D471, #2CA039);
}

.navbar-brand img {
    height: 50px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fafafa !important;
    float: right;
    text-align: left;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/*-- BANNER SECTION --*/

#banner {
    background-image: linear-gradient(to right, #63D471, #2CA039);
    color: #fafafa;
    padding-top: 5%;
    outline: none;
}

#banner a {
    color: #fafafa;
    text-decoration: none;
}

.container .promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.fa-youtube {
    font-size: 40px;
    margin: 20px;
}

.bottom-img {
    width: 100%;
    height: 170px;
}

.img-fluid {
    margin: auto;
}

/*-- SERVICES SECTION --*/

#services {
    padding: 80px 0;
}

.service-img {
    height: 200px;
    margin-top: 20px;
}

.services {
    padding: 50px;
}

.services h4 {
    padding-top: 5px;
    margin-top: 25px;
}

.services p {
    margin: 30px;
}

.title::before {
    content: '';
    background: #2CA039;
    height: 5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

/*-- ABOUT US SECTION --*/

#about-us {
    background: #f8f9fa;
    padding: 80px
}

.about-us {
    padding: 50px;
}

.about-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 8%;
}

#about-us ul li {
    margin: 10px 0;
}

#about-us ul {
    margin-left: 25px;
    margin-top: 30px;
}

/*-- COMMENT SECTION --*/

#testimonials {
    padding: 80px 0;
}

#testimonials .title {
    padding-bottom: 50px;
}

.input-group {
    margin-top: 10px;
}

.btn {
    margin-top: 10px;
}

.testimonials {
    border-left: 4px solid #63D471;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
    margin-top: 10px;
}


